.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con-old {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader/Preloader_10.gif) center no-repeat;
    background-size: 500px;
    background-color: #ef424a;  
}
.se-pre-con{
    background-color: rgb(255, 255, 255);  
    position: fixed; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    z-index: 9999; 
    box-sizing: border-box; 
    display: none;
}

.img-loader{
    content:url(../img/loader/Preloader_10.gif);
    width: 90px; 
    height: 90px; 
    background: #0f2236; 
    padding: 12.5px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    bottom: initial; 
    right: initial; 
    box-sizing: border-box; 
    -webkit-border-radius: 100%; 
    -moz-border-radius: 100%; 
    -ms-border-radius: 100%;
    -o-border-radius: 100%; 
    border-radius: 100%; 
    -webkit-transform: translate(-50%, -50%); 
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}